<app-search-movie></app-search-movie>

<div class="container" style="padding-left: 0px; ">
    <div class="row mt-2 mb-5">
        <div class="col-sm">
            <img src="{{ 'http://image.tmdb.org/t/p/w500//' + movie.poster_path }}">
        </div>
        <div class="col-md-6 col-12">
            <div class="position-relative col-xs-12 col-sm-12">
                <h2 class="mb-0 "> {{ movie.name}} </h2>
                <p class="mb-0"><small> {{movie.release_date}} </small></p>
                <span class="badge badge-pill badge-dark  mt-1 pt-2 pb-2 pl-2 pr-2 mr-2"
                    *ngFor="let genere of movie.genres"> {{genere.name}} </span>
                <p class="mt-4"> {{ movie.overview}} </p>
                <span> <b> Popularity:</b> {{movie.popularity}} </span>
                <span> <b> Vote:</b> {{ movie.vote_average}} </span>
            </div>
        </div>
    </div>
</div>
