<app-search-movie></app-search-movie>
<div class="container" style="padding-left: 0px; ">
    <div class="row mt-2 mb-5">
        <div class="col-sm">
            <img src="{{ 'http://image.tmdb.org/t/p/w500//' + movie.poster_path }}">
        </div>
        <div class="col-md-6 col-12" *ngIf="!isMobile else mobile">
            <div class="position-relative col-xs-12 col-sm-12">
                <h2 class="mb-0 "> {{ movie.original_title}} </h2>
                <p class="mb-0"><small> {{movie.release_date}} </small></p>
                <span class="badge badge-pill badge-dark  mt-1 pt-2 pb-2 pl-2 pr-2 mr-2"
                    *ngFor="let genere of movie.genres"> {{genere.name}} </span>
                <p class="mt-4"> {{ movie.overview}} </p>
                <span> <b> Popularity:</b> {{movie.popularity}} </span>
                <span> <b> Vote:</b> {{ movie.vote_average}} </span>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 mt-4 fixed-bottom" [ngClass]="{'position-relative': isMobile, 'position-absolute': !isMobile}" >
                <iframe class="mt-3" width="560" height="315" [src]="url | safe" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div> 
        </div>
        <ng-template #mobile>
            <div class="col-md-6 col-12">
                <div class="position-relative col-xs-12 col-sm-12">
                    <h2 class="mb-0 "> {{ movie.original_title}} </h2>
                    <p class="mb-0"><small> {{movie.release_date}} </small></p>
                    <span class="badge badge-pill badge-dark  mt-1 pt-2 pb-2 pl-2 pr-2 mr-2"
                        *ngFor="let genere of movie.genres"> {{genere.name}} </span>
                    <p class="mt-4"> {{ movie.overview}} </p>
                    <span> <b> Popularity:</b> {{movie.popularity}} </span>
                    <span> <b> Vote:</b> {{ movie.vote_average}} </span>
                </div>
                
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 mt-4 fixed-bottom" [ngClass]="{'position-relative': isMobile, 'position-absolute': !isMobile}" >
                    <iframe class="mt-3" width="560" height="315" [src]="url | safe" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> 
        </ng-template>
    </div>

<hr>
    <app-related-movie [movie]="movie" [correlati]="correlati"></app-related-movie>

</div>